<nav class="btn block md:flex justify-between fixed w-full h-5 p-5">
    <div class="block md:hidden  text-2xl">
        <button type="submit">
            <a href="/">
                <i class="fa-solid fa-bars"></i>
            </a>
        </button>
    </div>

    <div class=" ">
        <ul
            class=" md:flex w-full flex-col md:flex-row justify-between font-bold h-screen bg-black capitalize font-serif text-white text-xl">
            <li>
                <a href="#">home</a>
            </li>
            <li>
                <a href="#">about us</a>
            </li>
            <li>
                <a href="#">services</a>
            </li>
            <li>
                <a href="#">tracking</a>
            </li>
            <li>
                <a href="#">gallery</a>
            </li>
            <li>
                <a href="#">contact us</a>
            </li>
        </ul>
    </div>
</nav>