<nav class="btn">
    <div class="p-5">
        <ul class="flex justify-between">
            <li>
                <a href="#">home</a>
            </li>
            <li>
                <a href="#">about us</a>
            </li>
            <li>
                <a href="#">services</a>
            </li>
            <li>
                <a href="#">tracking</a>
            </li>
            <li>
                <a href="#">gallery</a>
            </li>
            <li>
                <a href="#">contact us</a>
            </li>
        </ul>
    </div>
</nav>