{% extends "base.html" %}


{% block content %}
{% load static %}

<div class="text-blue-300/80 px-9 pt-20 md:pt-2  h-auto md:h-96 bg-black/20">
    <div id="logo">
        {% comment %} <h1 class="font-bold text-center text-3xl pt-7 text-black/90">
            BLACK <i class="fa-solid fa-border-none"></i> HOST
        </h1> {% endcomment %}
    </div>
    <div
        class=" iconsm font-sans font-extrabold  pt-5 text-emerald-800 text-opacity-75 hover:text-opacity-100 transition-all duration-500 text-3xl md:text-3xl ">
        BUILD A WEBSITE WITH US TODAY 
        <h3 class="text-xl md:text-2xl "> AND ENJOY PREMIUM WEB OFFERS</h3>
        
    </div>
    <div class="font-medium  text-black md:w-2/4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem alias laborum ipsam eos explicabo unde
            provident quos? Esse cumque quod repudiandae, illo dignissimos perspiciatis minima eveniet incidunt, tenetur
            debitis amet?</p>
    </div>
    <!-- <img src="{% static 'images/border-none.svg' %}" alt="" class="w-56 z-50"> -->

    <div>
        <h2>services</h2>
    </div>










</div>

<div class="flex justify-around flex-col md:flex-row ">
    <div
        class="bg-gray-900 shadow-lg shadow-green-900  text-white p-5 m-3 md:-mt-28 rounded-lg  h-auto md:h-96  -z-5">
        <p class=" blur-xl ">
            shdklfjkdsjfkl
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti sequi nisi rerum repellat, sint labore
            tempore quos laboriosam deserunt velit, minima, illo nesciunt in tenetur consequuntur sunt. Facilis, a. In!
        </p>
        <h1 class="  -mt-16 py-5 capitalize text-2xl overflow-hidden ">TEMPLATE</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, dicta quis, animi quia magnam obcaecati
            cupiditate et mollitia reiciendis, quae laborum praesentium officia repudiandae ipsum ex atque placeat
            tempore iste.</p>

    </div>

    <div class="  text-blue-700/60">
        sjdkfjaksd
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus delectus dolores, aut accusamus, ratione
        saepe recusandae dolorum iusto ullam quas enim laborum ipsum, quos nihil. At voluptates quaerat eaque
        consequatur?
    </div>
</div>


<div class="text-center mt-4">
    <h2 class=" uppercase text-2xl md:text-2xl my-7 font-bold">cores</h2>
    <div class="flex flex-col justify-around md:flex-row mx-9  md:space-x-7 space-y-7 md:space-y-0 pb-9 ">

        <div
            class="bg-cyan-300/20 rounded-md text-gray-800 p-3 border-l-8 hover:-translate-y-4 transition duration-700 border-l-red-900 hover:shadow-2xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolores minus in tenetur ratione, vitae
            quisquam suscipit natus delectus quas aliquam voluptatibus expedita alias a quis, et dolorem perferendis
            quaerat.
        </div>

        <div
            class="bg-rose-300/20 rounded-md text-gray-800 p-3 hover:shadow-2xl hover:-translate-y-4 transition duration-700 ease-out">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti delectus aliquid adipisci provident
            nesciunt, dolores quos dolorem aspernatur optio. Nihil, illum hic iusto non numquam iure voluptatum fuga
            deserunt incidunt.

        </div>
        <div
            class="bg-blue-300/20 rounded-md text-gray-800 p-3 hover:shadow-2xl hover:-translate-y-4 transition duration-700 ease-in-out">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam blanditiis odio qui. Recusandae delectus
            nemo autem, ipsam consectetur facere eius nisi totam tempora fugit perspiciatis dolorum et nihil neque!
            Recusandae.</div>

    </div>
</div>
<!-- testimony -->
<h1 class="text-center text-2xl my-5 font-bold uppercase">testimonials</h1>
<div class="flex flex-col justify-around md:flex-row p-7 gap-7 tracking-tight ">
    <div class="testimony">
        <div class="flex items-end pb-4 gap-4">
            <img src="{% static 'images/passport.png' %}" alt="" class="rounded-full w-14 h-14">
            <span class="text-gray-600 text-lg capitalize">
                <h4 class="font-semibold ">abigail kambai</h4>
                <p class="text-sm font-thin">ceo ANK Foods & berverages industry</p>
            </span>
        </div>
        <div>
            <i class="fa-solid fa-quote-left text-black"></i>
            <p class="text-black/80 pb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias voluptatibus ex quaerat rem, iste id
                tempora reprehenderit nulla saepe eveniet voluptate? Est, dolorum esse dolorem facilis vitae blanditiis
                facere voluptates? </p>
            <span class=" hover:text-green-500 text-red-900">
                <i class=" icon fa-solid fa-star"></i>
                <i class=" icon fa-solid fa-star"></i>
                <i class="  fa-solid fa-star-half-alt"></i>
                <i class=" icon text-gray-400/50 fa-solid fa-star"></i>
                <i class=" icon text-gray-400/50 fa-solid fa-star"></i>
            </span>

        </div>
    </div>
    <div class="testimony">
        <div class="flex items-end pb-4 gap-4">
            <img src="{% static 'images/passport.png' %}" alt="" class="rounded-full w-14 h-14">
            <span class="text-gray-600 text-lg capitalize">
                <h4 class="font-semibold ">mike s. vigile</h4>
                <p class="text-sm font-thin">web designer </p>
            </span>
        </div>
        <i class="fa-solid fa-quote-left text-black"></i>
        <p class="pb-4 text-black/80">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi veniam odit voluptates temporibus autem,
            necessitatibus ea error animi molestias! Adipisci cumque, minus odit illum doloremque veritatis? Accusamus
            repudiandae laborum itaque.</p>
        <span class="text-red-900">
            <i class=" icon fa-solid fa-star"></i>
            <i class=" icon fa-solid fa-star"></i>
            <i class=" icon fa-solid fa-star"></i>
            <i class=" icon fa-solid fa-star-half-alt"></i>
            <i class=" icon text-gray-400/50 fa-solid fa-star"></i>

        </span>
    </div>
    <div class="testimony">
        <div class="flex items-end pb-4 gap-4">
            <img src="{% static 'images/mike.jpg' %}" alt="" class="rounded-full w-14 h-14">
            <span class="text-gray-600 text-lg capitalize">
                <h4 class="font-semibold ">croft wills</h4>
                <p class="text-sm font-thin">veteran u.s. navy</p>
            </span>
        </div>
        <i class="fa-solid fa-quote-left text-black"></i>
        <p class="pb-4 text-black/80">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, voluptatum. Dolorum, sapiente earum. Dolorem
            libero nesciunt est ea ratione. Ratione ea necessitatibus ullam, voluptatibus saepe recusandae nesciunt.
            Delectus, iste. Mollitia.</p>
        <span class="text-red-900">
            <i class=" icon fa-solid fa-star"></i>
            <i class=" icon fa-solid fa-star"></i>
            <i class=" icon fa-solid fa-star"></i>
            <i class=" icon fa-solid fa-star"></i>
            <i class=" icon fa-solid fa-star-half-alt"></i>
        </span>
    </div>
</div>


{% include 'regx/footer.html' %}

{% endblock content %}