<div class="flex flex-col justify-between mb-3  px-5 md:px-10 md:flex-row">
    <div class=" bg-black text-black/60 w-full md:w-2/4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi modi totam, labore nam consequuntur officiis corporis sunt sint sequi quisquam accusamus quo ducimus saepe omnis dolor quidem at dicta sed.
    </div>
    <div class=" text-black w-full md:w-fit">
        <h3 class="text-xl font-bold border-b-[1px] border-black/60 py-2  " >Follow us  </h3>
        <ul id="my-nav" class="  hidden pl-4 py-2 text-gray-700">
            <li>
                <a href="" class="">
                    <span><i class="fab fa-facebook fa-lg text-blue-800"></i></span>
                <span>facebook</span>
                </a>
            </li>
            <li>
                <a href="" class="">
                    <span><i class="fab fa-instagram fa-lg text-red-400"></i></span>
                    <span>Instagran</span>
                </a>
            </li>
            <li>
                <a href="" class="">
                    <span><i class="fab fa-twitter fa-lg text-blue-700"></i></span>
            <span>Twitter</span>
                </a>
            </li> <li>
                <a href="" class="">
                    <span><i class="fab fa-linkedin fa-lg text-blue-500"></i></span>
                <span>  Linkedin</span>
                </a>
            </li>
            
            

        </ul>
    </div>
    <div class=" text-black w-full md:w-fit">
        <h3 class="text-xl font-bold border-b-[1px] border-black/60 py-2">Quick links</h3>
        <ul class=" hidden py-2 pl-4 text-gray-700">
            <li>
                <a href="/"> blog</a>
            </li>
            <li>
                <a href="/">space</a>
            </li>
        </ul>
    </div>
    <div class=" text-black w-full md:w-fit">
        <h1 class="text-xl font-bold border-b-[1px] border-black/60 py-2 ">Important</h1>
        <div class=" text-sm">
            <ul class=" hidden py-2 after:'=' pl-4 text-gray-700" >
                <li> <a href="/"> privacy & policy</a></li>
                <li> <a href="/"> terms and conditions</a></li>
            </ul>
        </div>
    </div>
    
</div>