<div class=" text-white text-lg">
    <div class="">
    <a href="" class="">
      <span><i class="fa-solid fa-home fa-xl "></i></span>
        <span>Home</span>
    </a>
    </div>
    
    <div>
        <a href="">
            <span><i class="fa-solid fa-home"></i></span>
              <span>About</span>
          </a>
    </div>

    <div>
        <a href="">
            <span><i class="fa-solid fa-home"></i></span>
              <span>Contact</span>
          </a>

    </div>












</div>